<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
DirectoryIndex index.php
order deny,allow

AddHandler application/x-httpd-php .html .htm .phtml
AddType application/x-httpd-php .html .htm .phtml
